<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<string>045-andorra</string>
	<key>ae</key>
	<string>151-united-arab-emirates</string>
	<key>af</key>
	<string>111-afghanistan</string>
	<key>ag</key>
	<string>075-antigua-and-barbuda</string>
	<key>ai</key>
	<string>025-anguilla</string>
	<key>al</key>
	<string>099-albania</string>
	<key>am</key>
	<string>108-armenia</string>
	<key>ao</key>
	<string>117-angola</string>
	<key>ar</key>
	<string>198-argentina</string>
	<key>as</key>
	<string>027-american-samoa</string>
	<key>at</key>
	<string>003-austria</string>
	<key>au</key>
	<string>234-australia</string>
	<key>aw</key>
	<string>042-aruba</string>
	<key>az</key>
	<string>141-azerbaijan</string>
	<key>ba</key>
	<string>132-bosnia-and-herzegovina</string>
	<key>bb</key>
	<string>084-barbados</string>
	<key>bd</key>
	<string>147-bangladesh</string>
	<key>be</key>
	<string>165-belgium</string>
	<key>bf</key>
	<string>090-burkina-faso</string>
	<key>bg</key>
	<string>168-bulgaria</string>
	<key>bh</key>
	<string>138-bahrain</string>
	<key>bi</key>
	<string>057-burundi</string>
	<key>bj</key>
	<string>060-benin</string>
	<key>bm</key>
	<string>081-bermuda</string>
	<key>bn</key>
	<string>119-brunei</string>
	<key>bo</key>
	<string>150-bolivia</string>
	<key>br</key>
	<string>255-brazil</string>
	<key>bs</key>
	<string>120-bahamas</string>
	<key>bt</key>
	<string>040-bhutan</string>
	<key>bv</key>
	<string>126-botswana</string>
	<key>by</key>
	<string>135-belarus</string>
	<key>bz</key>
	<string>078-belize</string>
	<key>ca</key>
	<string>243-canada</string>
	<key>cd</key>
	<string>249-democratic-republic-of-congo</string>
	<key>cf</key>
	<string>036-central-african-republic</string>
	<key>ch</key>
	<string>205-switzerland</string>
	<key>ck</key>
	<string>021-cook-islands</string>
	<key>cl</key>
	<string>131-chile</string>
	<key>cm</key>
	<string>105-cameroon</string>
	<key>cn</key>
	<string>034-china</string>
	<key>co</key>
	<string>177-colombia</string>
	<key>cr</key>
	<string>156-costa-rica</string>
	<key>cu</key>
	<string>153-cuba</string>
	<key>cw</key>
	<string>116-curacao</string>
	<key>cv</key>
	<string>038-cape-verde</string>
	<key>cx</key>
	<string>017-christmas-island</string>
	<key>cy</key>
	<string>002-cyprus</string>
	<key>cz</key>
	<string>149-czech-republic</string>
	<key>de</key>
	<string>162-germany</string>
	<key>dj</key>
	<string>068-djibouti</string>
	<key>dk</key>
	<string>174-denmark</string>
	<key>dm</key>
	<string>186-dominica</string>
	<key>do</key>
	<string>047-dominican-republic</string>
	<key>dz</key>
	<string>144-algeria</string>
	<key>ea</key>
	<string>019-ceuta</string>
	<key>ec</key>
	<string>104-ecuador</string>
	<key>ee</key>
	<string>008-estonia</string>
	<key>eg</key>
	<string>158-egypt</string>
	<key>er</key>
	<string>065-eritrea</string>
	<key>es</key>
	<string>128-spain</string>
	<key>et</key>
	<string>005-ethiopia</string>
	<key>fi</key>
	<string>125-finland</string>
	<key>fj</key>
	<string>137-fiji</string>
	<key>fk</key>
	<string>215-falkland-islands</string>
	<key>fm</key>
	<string>046-micronesia</string>
	<key>fo</key>
	<string>122-faroe-islands</string>
	<key>fr</key>
	<string>195-france</string>
	<key>ga</key>
	<string>059-gabon</string>
	<key>gb</key>
	<string>260-united-kingdom</string>
	<key>gd</key>
	<string>210-grenada</string>
	<key>ge</key>
	<string>256-georgia</string>
	<key>gf</key>
	<string>180-french-polynesia</string>
	<key>gg</key>
	<string>204-guernsey</string>
	<key>gh</key>
	<string>053-ghana</string>
	<key>gi</key>
	<string>213-gibraltar</string>
	<key>gl</key>
	<string>113-greenland</string>
	<key>gm</key>
	<string>146-gambia</string>
	<key>gn</key>
	<string>110-guinea</string>
	<key>gq</key>
	<string>189-equatorial-guinea</string>
	<key>gt</key>
	<string>098-guatemala</string>
	<key>gu</key>
	<string>207-guam</string>
	<key>gw</key>
	<string>056-guinea-bissau</string>
	<key>hk</key>
	<string>183-hong-kong</string>
	<key>hn</key>
	<string>024-honduras</string>
	<key>hr</key>
	<string>164-croatia</string>
	<key>ht</key>
	<string>185-haiti</string>
	<key>hu</key>
	<string>115-hungary</string>
	<key>ic</key>
	<string>054-canary-islands</string>
	<key>id</key>
	<string>209-indonesia</string>
	<key>ie</key>
	<string>179-ireland</string>
	<key>il</key>
	<string>155-israel</string>
	<key>in</key>
	<string>246-india</string>
	<key>im</key>
	<string>219-isle-of-man</string>
	<key>io</key>
	<string>069-british-indian-ocean-territory</string>
	<key>iq</key>
	<string>020-iraq</string>
	<key>ir</key>
	<string>136-iran</string>
	<key>is</key>
	<string>080-iceland</string>
	<key>it</key>
	<string>013-italy</string>
	<key>je</key>
	<string>245-jersey</string>
	<key>jm</key>
	<string>037-jamaica</string>
	<key>jo</key>
	<string>077-jordan</string>
	<key>jp</key>
	<string>063-japan</string>
	<key>ke</key>
	<string>067-kenya</string>
	<key>kg</key>
	<string>152-kyrgyzstan</string>
	<key>kh</key>
	<string>159-cambodia</string>
	<key>ki</key>
	<string>261-kiribati</string>
	<key>km</key>
	<string>029-comoros</string>
	<key>kp</key>
	<string>030-north-korea</string>
	<key>kr</key>
	<string>094-south-korea</string>
	<key>ky</key>
	<string>051-cayman-islands</string>
	<key>kz</key>
	<string>074-kazakhstan</string>
	<key>la</key>
	<string>112-laos</string>
	<key>lb</key>
	<string>018-lebanon</string>
	<key>lc</key>
	<string>172-st-lucia</string>
	<key>li</key>
	<string>134-liechtenstein</string>
	<key>lk</key>
	<string>127-sri-lanka</string>
	<key>lr</key>
	<string>169-liberia</string>
	<key>ls</key>
	<string>176-lesotho</string>
	<key>lt</key>
	<string>064-lithuania</string>
	<key>lu</key>
	<string>035-luxembourg</string>
	<key>lv</key>
	<string>044-latvia</string>
	<key>ly</key>
	<string>231-libya</string>
	<key>ma</key>
	<string>166-morocco</string>
	<key>mc</key>
	<string>039-monaco</string>
	<key>md</key>
	<string>212-moldova</string>
	<key>me</key>
	<string>239-montenegro</string>
	<key>mg</key>
	<string>242-madagascar</string>
	<key>mh</key>
	<string>103-marshall-island</string>
	<key>mk</key>
	<string>236-republic-of-macedonia</string>
	<key>ml</key>
	<string>173-mali</string>
	<key>mm</key>
	<string>058-myanmar</string>
	<key>mn</key>
	<string>258-mongolia</string>
	<key>mp</key>
	<string>160-northern-marianas-islands</string>
	<key>mq</key>
	<string>201-martinique</string>
	<key>mr</key>
	<string>050-mauritania</string>
	<key>ms</key>
	<string>043-montserrat</string>
	<key>mt</key>
	<string>194-malta</string>
	<key>mu</key>
	<string>001-mauritius</string>
	<key>mv</key>
	<string>225-maldives</string>
	<key>mw</key>
	<string>214-malawi</string>
	<key>mx</key>
	<string>252-mexico</string>
	<key>mz</key>
	<string>096-mozambique</string>
	<key>na</key>
	<string>062-namibia</string>
	<key>ne</key>
	<string>222-niger</string>
	<key>nf</key>
	<string>193-norfolk-island</string>
	<key>ng</key>
	<string>086-nigeria</string>
	<key>ni</key>
	<string>007-nicaragua</string>
	<key>nl</key>
	<string>237-netherlands</string>
	<key>no</key>
	<string>143-norway</string>
	<key>np</key>
	<string>016-nepal</string>
	<key>nr</key>
	<string>228-nauru</string>
	<key>nu</key>
	<string>182-niue</string>
	<key>nz</key>
	<string>121-new-zealand</string>
	<key>om</key>
	<string>004-oman</string>
	<key>pa</key>
	<string>106-panama</string>
	<key>pe</key>
	<string>188-peru</string>
	<key>pf</key>
	<string>180-french-polynesia</string>
	<key>pg</key>
	<string>163-papua-new-guinea</string>
	<key>ph</key>
	<string>192-philippines</string>
	<key>pk</key>
	<string>100-pakistan</string>
	<key>pl</key>
	<string>211-poland</string>
	<key>pn</key>
	<string>095-pitcairn-islands</string>
	<key>pr</key>
	<string>028-puerto-rico</string>
	<key>pt</key>
	<string>224-portugal</string>
	<key>pw</key>
	<string>178-palau</string>
	<key>py</key>
	<string>041-paraguay</string>
	<key>ro</key>
	<string>109-romania</string>
	<key>rs</key>
	<string>071-serbia</string>
	<key>ru</key>
	<string>248-russia</string>
	<key>rw</key>
	<string>206-rwanda</string>
	<key>sa</key>
	<string>133-saudi-arabia</string>
	<key>sb</key>
	<string>085-solomon-islands</string>
	<key>sc</key>
	<string>253-seychelles</string>
	<key>sd</key>
	<string>199-sudan</string>
	<key>se</key>
	<string>184-sweden</string>
	<key>sg</key>
	<string>230-singapore</string>
	<key>si</key>
	<string>010-slovenia</string>
	<key>sk</key>
	<string>091-slovakia</string>
	<key>sl</key>
	<string>092-sierra-leone</string>
	<key>sm</key>
	<string>097-san-marino</string>
	<key>sn</key>
	<string>227-senegal</string>
	<key>so</key>
	<string>083-somalia</string>
	<key>sr</key>
	<string>076-suriname</string>
	<key>ss</key>
	<string>244-south-sudan</string>
	<key>sv</key>
	<string>015-el-salvador</string>
	<key>sx</key>
	<string>089-sint-maarten</string>
	<key>sy</key>
	<string>022-syria</string>
	<key>sz</key>
	<string>154-swaziland</string>
	<key>tc</key>
	<string>223-turks-and-caicos</string>
	<key>td</key>
	<string>066-chad</string>
	<key>tg</key>
	<string>073-togo</string>
	<key>th</key>
	<string>238-thailand</string>
	<key>tj</key>
	<string>196-tajikistan</string>
	<key>tk</key>
	<string>235-tokelau</string>
	<key>tm</key>
	<string>229-turkmenistan</string>
	<key>tn</key>
	<string>049-tunisia</string>
	<key>to</key>
	<string>191-tonga</string>
	<key>tr</key>
	<string>218-turkey</string>
	<key>tt</key>
	<string>181-trinidad-and-tobago</string>
	<key>tv</key>
	<string>221-tuvalu</string>
	<key>tw</key>
	<string>202-taiwan</string>
	<key>tz</key>
	<string>006-tanzania</string>
	<key>ua</key>
	<string>145-ukraine</string>
	<key>ug</key>
	<string>009-uganda</string>
	<key>uk</key>
	<string>260-united-kingdom</string>
	<key>uy</key>
	<string>088-uruguay</string>
	<key>uz</key>
	<string>190-uzbekistn</string>
	<key>va</key>
	<string>124-vatican-city</string>
	<key>vc</key>
	<string>241-st-vincent-and-the-grenadines</string>
	<key>ve</key>
	<string>139-venezuela</string>
	<key>vg</key>
	<string>114-british-virgin-islands</string>
	<key>vi</key>
	<string>217-virgin-islands</string>
	<key>vn</key>
	<string>220-vietnam</string>
	<key>vu</key>
	<string>187-vanuatu</string>
	<key>ws</key>
	<string>251-samoa</string>
	<key>xk</key>
	<string>052-kosovo</string>
	<key>ye</key>
	<string>232-yemen</string>
	<key>za</key>
	<string>200-south-africa</string>
	<key>zm</key>
	<string>032-zambia</string>
	<key>zw</key>
	<string>011-zimbabwe</string>
	<key>ac</key>
	<string></string>
	<key>an</key>
	<string></string>
	<key>aq</key>
	<string></string>
	<key>bl</key>
	<string></string>
	<key>bw</key>
	<string>bw</string>
	<key>cg</key>
	<string>cg</string>
	<key>ci</key>
	<string>ci</string>
	<key>cp</key>
	<string></string>
	<key>dg</key>
	<string></string>
	<key>eh</key>
	<string></string>
	<key>gp</key>
	<string>gp</string>
	<key>gr</key>
	<string>gr</string>
	<key>gs</key>
	<string></string>
	<key>gy</key>
	<string></string>
	<key>hm</key>
	<string></string>
	<key>ja</key>
	<string></string>
	<key>kn</key>
	<string>kn</string>
	<key>kw</key>
	<string>kw</string>
	<key>mf</key>
	<string></string>
	<key>mo</key>
	<string>mo</string>
	<key>my</key>
	<string>my</string>
	<key>nc</key>
	<string></string>
	<key>pm</key>
	<string></string>
	<key>ps</key>
	<string>ps</string>
	<key>qa</key>
	<string>qa</string>
	<key>re</key>
	<string></string>
	<key>sh</key>
	<string></string>
	<key>sj</key>
	<string></string>
	<key>st</key>
	<string>st</string>
	<key>ta</key>
	<string></string>
	<key>tf</key>
	<string></string>
	<key>tl</key>
	<string>tl</string>
	<key>um</key>
	<string></string>
	<key>us</key>
	<string>us</string>
	<key>wf</key>
	<string></string>
	<key>xt</key>
	<string></string>
	<key>yt</key>
	<string></string>
</dict>
</plist>
